.btn-cont {
  width: 200px;
  height: 45px;
  align-items: center;
  border: 0px !important;
  background-color: #fcfcfc !important;
  border-radius: 5px;
  outline: none !important;
  transition: all.5s ease-in-out;
  color: #a5593c;
}
.btn-cont.coloured {
  background-color: #a5593c !important;
  color: #fcfcfc;
}
.btn-cont.coloured:hover {
  background-color: #fcfcfc !important;
  color: #191919;
  border: 1px solid #a5593c !important;
}
.btn-cont.black {
  background-color: #000 !important;
  color: #fcfcfc !important;
}
.btn-cont.btn-cont.black:hover {
  background-color: #fcfcfc !important;
  color: #191919 !important;
  border: 1px solid #000 !important;
}
.btn-cont.wide{
  width: 90% !important;
}
.btn_text {
  padding-top: 12px;
}

.btn-cont:hover {
  background-color: #a5593c !important;
  color: #fcfcfc;
  
  
}
@media screen and (max-width: 768px) {
  .btn-cont {
  }
}
